@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

html {
  --color-blanco: white;
  --color-gris: lightgray;
  --color-negro: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body {
  background-color: var(--color-negro);
  border: solid 5px white;
  max-width: 1200px;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas:
    "header header"
    "author  content"
    "footer footer";
}

#deadpool {
  border-radius: 50%;
  margin: 1rem;
  border: solid 10px var(--color-negro);
}

ul {
  list-style: none;
}

/* ------------------------------------------------------------Header---------------------------------*/

body > header {
  background-color: var(--color-negro);
  color: var(--color-blanco);
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: header;
}

body > header h1 {
  font-size: 4rem;
}

body > header h2 {
  font-size: 2.5rem;
}

body > header nav {
  background-color: var(--color-negro);
  width: 100%;
}

body > header > nav > ul {
  display: flex;
}

body > header > nav ul li {
  font-size: 1.5rem;
  margin: 1rem;
}

body > header a {
  text-decoration: none;
  color: var(--color-blanco);
  font-weight: bold;
}

/* --------------------------------------------------------Author--------------------------------*/

aside {
  grid-area: author;
  color: var(--color-negro);
  background-color: var(--color-gris);
}

aside > nav {
  text-align: center;
}

aside > nav > h2 {
  margin: 1rem;
  font-size: 2.5rem;
}

aside > nav > ul > li {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0.5rem;
}

aside > nav a {
  color: var(--color-negro);
}

/*-------------------------------------------Main-------------------------------------------------*/
body > main {
  grid-area: content;
  background-color: var(--color-blanco);
}

body h2 {
  font-size: 2rem;
  text-align: center;
}

body h3 {
  font-size: 1.5rem;
}

/*Favoritos*/

.favoritos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
}

.favoritos > h2 {
  flex-grow: 1;
  width: 100%;
}

.favoritos > section {
  margin: 0.5rem;
  text-align: center;
  border: solid 2px var(--color-negro);
}

.favoritos h3 {
  padding: 0.5rem;
  background-color: var(--color-negro);
  color: var(--color-blanco);
}

.favoritos ul {
  padding: 0.5rem;
  background-color: var(--color-gris);
}

.favoritos a {
  text-decoration: none;
  color: var(--color-negro);
}

.comida {
  flex-grow: 2;
}

.canciones {
  flex-grow: 2;
}
.peliculas {
  flex-grow: 2;
}
.libros {
  flex-grow: 2;
}

.favoritos > section:nth-child(1) ul li:hover {
  list-style-image: url("./imgenes/comida.svg");
}
/*Horario*/

.horario > table {
  border: solid 2px var(--color-negro);
  margin: 0.5rem auto;
  text-align: center;
}

.horario th {
  background-color: var(--color-negro);
  color: white;
}

.horario thead th {
  padding: 0.8rem;
}

.horario tbody th {
  padding: 0.5rem;
}

.horario td {
  background-color: var(--color-gris);
  padding: 0.2rem;
}

/*Video*/
.video {
  text-align: center;
  margin: 1rem;
}

.video h2 {
  margin: 1rem;
}

/*---------------------------------------Formulario----------------------------------------------*/
#formulario {
  margin: 1rem 5rem;
}

#formulario legend {
  text-align: center;
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}

#formulario fieldset {
  padding: 0.5rem;
  background-color: var(--color-gris);
  border: solid 2px var(--color-negro);
}

#formulario label {
  margin: 0.2rem;
  font-weight: bold;
}

#formulario input {
  margin: 0.2rem;
  border: solid 2px var(--color-negro);
}

#formulario fieldset:nth-of-type(1) {
  text-align: center;
}

#formulario fieldset:nth-of-type(2) {
  display: flex;
  flex-direction: column;
}

#formulario fieldset:nth-of-type(3) {
  display: flex;
  flex-direction: column;
}
#formulario fieldset:nth-of-type(4) {
  display: flex;
  flex-direction: column;
}

#formulario button {
  font-size: 1.2rem;
  margin: 1rem 0;
  padding: 0.2rem 4rem;
}

#formulario input:required {
  border-color: red;
}
/*---------------------------------------- Footer----------------------------------------------- */

footer {
  color: var(--color-blanco);
  background-color: var(--color-negro);
  grid-area: footer;
  text-align: center;
}

footer h2 {
  margin: 1rem;
}

footer nav {
  margin-bottom: 1rem;
}

footer ul li {
  display: inline;
  padding: 0.5rem;
}

footer nav ul li a:link {
  color: var(--color-blanco);
  font-weight: bold;
  text-align: center;
}

footer nav a:hover {
  color: lightblue;
  font-weight: bold;
  text-decoration: none;
}

footer a:visited {
  color: var(--color-gris);
  text-decoration: none;
}
